@using QLKS_3TL.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HangPhong

<div class="modal fade" id="chitiet" tabindex="-1" aria-labelledby="chitiet" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header d-flex justify-content-center">
                <h5 style="font-weight: bolder;">Thông tin hạng phòng a</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" id="roomDetailContent">
                    <!-- Nội dung chi tiết sẽ được nạp ở đây -->
                    <div class="row">
                        <div class="col-5">
                            <img src="" alt="Room Image" id="modalRoomImage" style="width: 300px;">
                            <h5 class="text-center mt-2 ms-2" style="font-weight: 600;" id="modalRoomName"></h5>
                        </div>
                        <div class="col-7">
                            <div class="container ms-3">
                                <div class="row">
                                    <h4 style="font-weight: 600;" id="modalRoomTitle"></h4>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-8">
                                        <h6>
                                            <span style="font-weight: 600;">Mã hạng phòng:</span>
                                            <span id="modalRoomCode"></span>
                                        </h6>
                                    </div>
                                    <div class="col-4">
                                        <h6>
                                            <span style="font-weight: 600;">Số giường:</span>
                                            <span id="modalRoomBeds"></span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-8">
                                        <h6>
                                            <span style="font-weight: 600;">Diện tích:</span>
                                            <span id="modalRoomArea"></span>
                                        </h6>
                                    </div>
                                    <div class="col-4">
                                        <h6>
                                            <span style="font-weight: 600;">Giá:</span>
                                            <span id="modalRoomPrice"></span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <h6>
                                        <span style="font-weight: 600;">Mô tả:</span>
                                        <span id="modalRoomDescription"></span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



