@using QLKS_3TL.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HangPhong

<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header d-flex justify-content-center">
                <h5 style="font-weight: bolder;">Chỉnh sửa hạng phòng 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProductForm" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="MaHangPhong" /> <!-- Mã hạng phòng -->
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="TenHangPhong" class="ms-1 mb-1 label-modal">Tên hạng phòng</label>
                                <input asp-for="TenHangPhong" id="EdittenHangPhong" class="form-control" />
                                <span asp-validation-for="TenHangPhong" id="EditerrorTenHangPhong" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label asp-for="GiaHangPhong" class="ms-1 mb-1 label-modal">Giá</label>
                                <input asp-for="GiaHangPhong" id="Editgia" class="form-control" />
                                <span asp-validation-for="GiaHangPhong" id="EditerrorGia" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <label asp-for="SoGiuong" class="ms-1 mb-1 label-modal">Số giường</label>
                                <input asp-for="SoGiuong" id="EditsoGiuong" class="form-control" />
                                <span asp-validation-for="SoGiuong" id="EditerrorSoGiuong" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label asp-for="DienTich" class="ms-1 mb-1 label-modal">Diện tích</label>
                                <input asp-for="DienTich" id="EditdienTich" class="form-control" />
                                <span asp-validation-for="DienTich" id="EditerrorDienTich" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <label asp-for="AnhHangPhong" class="mb-1 ms-1 label-modal">Tải ảnh mới</label>
                                <input asp-for="AnhHangPhong" id="Edimage" type="file" accept="image/*">
                                <span asp-validation-for="AnhHangPhong" id="EditerrorImage" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label asp-for="MoTa" class="mb-1 ms-1 label-modal">Mô tả</label>
                                <textarea asp-for="MoTa" id="EditmoTa" class="p-2 form-control" rows="4" placeholder="Nhập mô tả ở đây..."></textarea>
                                <span asp-validation-for="MoTa" id="EditerrorMoTa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container my-2">
                        <div class="row" style="justify-content: flex-end;">
                            <div class="col-3 m-2 d-flex justify-content-end">
                                <button type="submit" class="btn btn-success" style="font-size: small;">
                                    Đồng ý
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



