@model IEnumerable<QLKS_3TL.Data.NhanVien>

<div class="modal fade" id="ModalNhanVienChiTiet" tabindex="-1" aria-labelledby="chitiet" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header d-flex justify-content-center">
                <div>
                    <h5 style="font-weight: bolder;">Thông tin nhân viên</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="NhanVienChiTiet">
                <!--Code bên hàm chi tiết của nhân viên sẽ hiện qua đây-->
            </div>
        </div>
    </div>
</div>