@using QLKS_3TL.Areas.KhachHang.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="datphong" class="m-5" style="padding-top: 100px;">
    <div class="container-fuild">
        <div class="container" style="padding: 0;">
            <div class="ms-4" style="padding-top: 15;">
                <h1 class="section-tittle text-uppercase text-color list-room-title fw-bold" style="font-size: large">
                    Các Hạng Phòng
                </h1>
                <!-- Cac loai phong -->
            </div>
            <div class="container mt-2">
                <div class="row gy-3 gx-2 d-flex" id="rooms-container">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hạng Phòng Superior Twin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>Tiện ích trong phòng:</b></p>

                <div class="row row-cols-2 gy-2">
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/wardrobe_1709957976.png" alt="Tủ quần áo ">
                        Tủ quần áo
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/sheet_1709958228.png" alt="Ga trải giường, gối">
                        Ga trải giường, gối
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/no-smoking_1709957396.png" alt="Phòng không hút thuốc">
                        Phòng không hút thuốc
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/voi-sen_1709957719.png" alt="Vòi sen">
                        Vòi sen
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/bar_1709957295.png" alt="Quầy bar mini">
                        Quầy bar mini
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/air-conditioner_1709958073.png" alt="Điều hòa">
                        Điều hòa
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/voi-sen_1709956935.png" alt="Phòng tắm - Vòi sen">
                        Phòng tắm - Vòi sen
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/laundry_1709957928.png" alt="Dịch vụ giặt ủi">
                        Dịch vụ giặt ủi
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/may-say_1709957595.png" alt="Máy sấy tóc">
                        Máy sấy tóc
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/bath-tub_1709957703.png" alt="Phòng có bồn tắm">
                        Phòng có bồn tắm
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/ket-sat_1709956830.png" alt="Két sắt an toàn">
                        Két sắt an toàn
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/wifi_1709956983.png" alt="Wifi">
                        Wifi
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/-phong-tam_1709958924.png" alt="Đồ phòng tắm">
                        Đồ phòng tắm
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/khan-tam_1709959020.png" alt="Khăn tắm">
                        Khăn tắm
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/t-ban_1709958825.png" alt="Điện thoại">
                        Điện thoại
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/n-ban_1709958701.png" alt="Đèn bàn">
                        Đèn bàn
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/cap_1709958578.png" alt="Truyền hình cáp/Vệ tinh">
                        Truyền hình cáp/Vệ tinh
                    </div>
                    <div class="col">
                        <img width="20" height="20" src="https://booking.muongthanh.com/images/rooms/service/2024/03/original/workplace_1709959171.png" alt="Bàn làm việc">
                        Bàn làm việc
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <a href="Datphong.html" class="btn bg-color text-light">
                    Đặt
                    Ngay
                </a>
            </div>
        </div>
    </div>
</div>