<div class="modal fade" id="yellowRoomModal" tabindex="-1" aria-labelledby="yellowRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="roomModalDialog">
        <div class="modal-content" style="border-radius: 20px" id="modalNhanPhongLT">
            <!--code vao day-->
        </div>
    </div>
</div>
