<div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px" id="bodyModalTraPhong">
            <!--Code vo day-->
        </div>
    </div>
</div>