<div class="modal fade" id="chiTietHoaDonThu" tabindex="-1" aria-labelledby="chitiet" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header d-flex justify-content-center">
                <div>
                    <h5 style="font-weight: bolder;">Thông tin hóa đơn</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0" id="hoaDonThuContent">
                            
                               <!--Code vao day-->
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>